*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-size: 1.6rem;
  position: relative;
}

.header {
  height: 10vh;
  background-color: #fff;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #6070ff;
  font-size: 1.8rem;
}

.span-burger {
  display: block;
  width: 2.5rem;
  height: 3px;
  background-color: #6070ff;
}

.span-burger:hover {
  background-color: #9099ff;
}

.span-burger:not(:last-child) {
  margin-bottom: 3px;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

.section-hero {
  padding: 12rem 0;
  position: relative;
  background-color: #fff;
  border-bottom-left-radius: 7rem;
  width: 100%;
  background-image: url(./images/header-shapes\ mobile@2x.svg);
}

.heading-primary {
  font-size: 40px;
  color: #172b4d;
  font-weight: 700;
  line-height: 5.2rem;
  margin-bottom: 1.2rem;
}

.heading-primary__sapan {
  display: block;
}

.section-hero__paragraph {
  color: #344563;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
}

.section-hero__link {
  color: #7f8cff;
  font-weight: 500;
  font-size: 1.6rem;
}

.section-hero__social-media {
  margin-top: 1.2rem;
}

.section-hero__social-media > * {
  margin-right: 1.5rem;
  cursor: pointer;
}
