*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #e5e5e5;
  font-size: 1.6rem;
  position: relative;
  margin: 0;
  padding: 0;
}

.header {
  z-index: 3;
  height: 10vh;
  background-color: #fff;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.overlay {
  z-index: 1;
  overflow-y: scroll;
  position: fixed;
  top: 10vh;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;

  /* background-color: rgba(0, 0, 0, 0.7); */

  /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)); */
  background-color: #172b4d;
  opacity: 0;
  animation: overlay-animation 0.3s ease-in-out forwards;
  color: #172b4d;
}

.header.active .overlay {
  height: 100%;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.nav-list {
  z-index: 40;
  position: absolute;
  top: 14vh;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  width: 90%;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.header.active .nav-list {
  visibility: visible;
  animation: showNavList 0.3s linear forwards;
}

@keyframes showNavList {
  1% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.nav-link {
  display: inline-block;
  padding: 2rem;
  color: #253858;
}

.logo {
  color: #2230d2;
  font-size: 3rem;
  font-weight: 700;
}

.hamburger {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.span-burger {
  display: block;
  width: 2.5rem;
  height: 3px;
  background-color: #6070ff;
  transition: all 0.3s ease-in-out;
}

.active .burger-1 {
  transform: rotate(45deg) translate(5px, 7px);
}

.active .burger-2 {
  opacity: 0;
}

.active .burger-3 {
  transform: rotate(-45deg) translate(4px, -6px);
}

.span-burger:not(:last-child) {
  margin-bottom: 5px;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

.section-hero {
  padding: 12rem 0;
  position: relative;
  background-color: #fff;
  border-bottom-left-radius: 7rem;
  width: 100%;
  background-image: url(./images/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
}

.heading-primary {
  font-size: 40px;
  color: #172b4d;
  font-weight: 700;
  line-height: 5.2rem;
  margin-bottom: 1.2rem;
}

.heading-primary__sapan {
  display: block;
}

.section-hero__paragraph {
  color: #344563;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
}

.section-hero__link {
  color: #2230d2;
  font-weight: 500;
  font-size: 1.8rem;
}

.section-hero__social-media {
  margin-top: 1.2rem;
  display: flex;
}

.section-hero__social-media > * {
  margin-right: 1.5rem;
  cursor: pointer;
}

.section-card {
  padding: 11rem 0;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 8.8rem;
}

.card {
  background-color: #fff;
  padding: 1.6rem;
  border-radius: 1.6rem;
  grid-column: 1/-1;
}

.card-img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.card-title {
  color: #172b4d;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 44px;
  margin-bottom: 1rem;
}

.card-description {
  color: #344563;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}

.card-description > *:not(:last-child) {
  margin-right: 1.2rem;
}

.card__gray-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c1c7d0;
  display: inline-block;
}

.card-paragraph {
  color: #344563;
  font-weight: 400;
  font-size: 15px;
  line-height: 2.4rem;
  margin-bottom: 1.5rem;
}

.card-language {
  display: flex;
}

.card-language > *:not(:last-child) {
  margin-right: 1rem;
}

.btn-small {
  font-size: 1.2rem;
  color: #2230d2;
  display: inline-block;
  font-weight: 700;
  padding: 0.4rem 1.2rem;
  background-color: #ebebff;
  cursor: pointer;
  border-radius: 1rem;
}

.card-cta {
  margin-top: 2rem;
  font-size: 1.7rem;
  color: #396df2;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 2px solid #396df2;
  display: inline-block;
  border-radius: 1rem;
  margin-bottom: 2rem;
  transition: all ease-in 0.3s;
}

.card-cta:hover {
  background-color: #6070ff;
  color: #fff;
}

.card-cta:active {
  background-color: #2230d2;
  color: #fff;
}

.section-about-me {
  background-color: #fff;
  border-top-right-radius: 7rem;
  padding-top: 11rem;
  padding-bottom: 18rem;
}

.about-me-tech {
  padding: 1rem;
  margin: 2rem 0;
}

.arrow-logo {
  width: 1.8rem;
  margin-right: 2rem;
}

.language-des {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  color: black;
  font-size: 2rem;
}

.language__details {
  display: flex;
  flex-direction: column;
}

.language__details > *:not(:last-child) {
  margin-bottom: 1.2rem;
}

.language__details-container {
  display: flex;
  align-items: center;
  color: #253858;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #f7f7f9;
  padding: 1rem;
}

.language__details-container > *:not(:last-child) {
  margin-right: 2rem;
}

.section-contuct-me {
  background-color: #2230d2;
  background-image: url(images/contuct-form-bg.svg);
  background-repeat: no-repeat;
  background-position: right;
  color: #fff;
  border-top-left-radius: 7rem;
  padding-top: 10rem;
  margin-top: -7rem;
}

.contuct-me-box {
  display: flex;
  flex-direction: column;
}

.contuct-me__heading {
  font-size: 4rem;
  margin-bottom: 1.2rem;
  text-align: center;
}

.contuct-me__paragraph {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin-bottom: 5.2rem;
  text-align: center;
}

.contuct-me__name-input,
.contuct-me__email-input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  font-family: inherit;
}

.input-label {
  visibility: hidden;
}

.contuct-me__textarea {
  display: block;
  width: 100%;
  height: 17rem;
  padding: 1rem;
  border-radius: 1rem;
  font-family: inherit;
  margin-bottom: 2.2rem;
}

.contuct-me__btn {
  border: none;
  outline: none;
  color: #2230d2;
  font-weight: 700;
  background-color: #fff;
  font-size: 1.8rem;
  font-family: inherit;
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: inline-block;
  margin-bottom: 4rem;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 3% auto;
  padding: 20px 60px;
  border: 1px solid #888;
  width: 90%;
  max-width: 700px;
  backdrop-filter: blur(5px);
}

.button-container {
  display: flex;
  align-items: center;
}

.model-cta {
  /* margin-right: 1rem; */
  display: flex;

  /* align-items: center;
  justify-content: center; */
  padding: 0.4rem 1rem;
  width: fit-content;
  margin: 0;
  border: 2px solid #2230d2;
  border-radius: 1rem;
}

.model-cta img {
  margin-left: 5px;
}

.modal-img {
  width: 100%;
  height: 300px;
  background-size: cover;
}

.model-paragraph {
  width: 50%;
  margin-right: 2rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
  margin-right: -10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  html {
    scroll-behavior: smooth;
  }

  .header {
    padding: 0 10vw;
  }

  .container {
    max-width: 80vw;
    margin: 0 auto;
  }

  .nav {
    position: relative;
    width: 20vw;
  }

  .nav-list {
    transform: translate(0);
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: static;
    left: 0;
    top: 0;
    visibility: visible;
    opacity: 1;
    padding: 0;
  }

  .overlay {
    display: none;
  }

  .nav-link {
    color: #344563;
    font-family: inherit;
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
  }

  .hamburger {
    display: none;
  }

  .section-hero {
    padding: 25rem 0;
    background-image: url(./images/desktop-images/Header-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 15rem;
  }

  .section-hero-wraper {
    max-width: 80%;
    margin: 0 auto;
  }

  .heading-primary {
    font-size: 4.8rem;
    line-height: 6rem;
    letter-spacing: 0.37px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .heading-primary__span-left {
    display: block;
    -webkit-animation: movetoright 1s ease-out;
    animation: movetoRight 1s ease-out;
  }

  .heading-primary__sapan {
    -webkit-animation: movetoleft 1s ease-out;
    animation: moveToLeft 1s ease-out;
  }

  .section-hero__paragraph {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .card {
    display: flex;
    justify-content: space-between;
    transition: all 0.3s;
    border-radius: 2.6rem;
  }

  .card:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
    outline: 1px solid #2230d2;
    transform: translateY(-2px);
  }

  .card:hover .card-cta {
    background-color: #396df2;
    color: #fff;
  }

  .card__picture {
    width: 50%;
  }

  .card-img {
    margin-bottom: 0;
  }

  .card__content {
    width: 50%;
    padding: 2rem 4rem;
  }

  .card__content > *:not(:last-child) {
    margin-bottom: 2.2rem;
  }

  .card-title {
    font-size: 4rem;
  }

  .card-paragraph {
    font-size: 1.6rem;
    font-weight: 400;
  }

  .card-style-2 {
    flex-direction: row-reverse;
  }

  .section-about-me {
    border-top-right-radius: 15rem;
    padding-top: 15rem;
    padding-bottom: 30rem;
  }

  .about-me-wraper {
    display: flex;
  }

  .about-me-des {
    width: 50%;
    padding-right: 4rem;
  }

  .about-me-tech {
    width: 50%;
    margin-top: 0;
  }

  .language-des:first-child {
    margin: 0 0 3rem 0;
  }

  .language__details {
    display: flex;
    flex-direction: row;
  }

  .language__details > *:not(:last-child) {
    margin-bottom: 0;
    margin-right: 1.2rem;
  }

  .language__details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .language__details-container > *:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  .section-contuct-me {
    background-image: url(images/desktop-images/contuct-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 15rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
    margin-top: -15rem;
  }

  .contuct-me-box {
    max-width: 30vw;
    margin: 0 auto;
    text-align: center;
    padding-top: 4rem;
  }

  .contuct-form {
    display: block;
    max-width: 90%;
    margin: 0 auto;
  }

  .language-title {
    font-size: 2.4rem;
    font-weight: 500;
    color: #344563;
  }

  .contuct-me__name-input,
  .contuct-me__email-input,
  .contuct-me__textarea {
    border-radius: 0;
  }

  .contuct-me__btn {
    transition: all 0.2s;
    border: 2px solid transparent;
  }

  .contuct-me__btn:hover {
    color: #fff;
    background-color: #2230d2;
    border: 2px solid #fff;
  }

  @-webkit-keyframes movetoRight {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    80% {
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes movetoRight {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    80% {
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes moveToLeft {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    80% {
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
