*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-size: 1.6rem;
  position: relative;
}

.header {
  height: 10vh;
  background-color: #fff;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: none;
}

.logo {
  color: #6070ff;
  font-size: 1.8rem;
}

.span-burger {
  display: block;
  width: 2.5rem;
  height: 3px;
  background-color: #6070ff;
}

/* add some comment */

.span-burger:hover {
  background-color: #9099ff;
}

.span-burger:not(:last-child) {
  margin-bottom: 3px;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

.section-hero {
  padding: 12rem 0;
  position: relative;
  background-color: #fff;
  border-bottom-left-radius: 7rem;
  width: 100%;
  background-image: url(./images/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
}

.heading-primary {
  font-size: 40px;
  color: #172b4d;
  font-weight: 700;
  line-height: 5.2rem;
  margin-bottom: 1.2rem;
}

.heading-primary__sapan {
  display: block;
}

.section-hero__paragraph {
  color: #344563;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
}

.section-hero__link {
  color: #7f8cff;
  font-weight: 500;
  font-size: 1.6rem;
}

.section-hero__social-media {
  margin-top: 1.2rem;
  display: flex;
}

.section-hero__social-media > * {
  margin-right: 1.5rem;
  cursor: pointer;
}

.section-card {
  padding: 11rem 0;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 8.8rem;
}

.card {
  background-color: #fff;
  padding: 1.6rem;
  border-radius: 1.6rem;
  grid-column: 1/-1;
}

.card-img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.card-title {
  color: #172b4d;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 44px;
  margin-bottom: 1rem;
}

.card-description {
  color: #7a869a;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}

.card-description > *:not(:last-child) {
  margin-right: 1.2rem;
}

.card-description__stack {
  color: #344563;
}

.card__gray-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c1c7d0;
  display: inline-block;
}

.card-paragraph {
  color: #344563;
  font-weight: 400;
  font-size: 15px;
  line-height: 2.4rem;
  margin-bottom: 1.5rem;
}

.card-language {
  display: flex;
}

.card-language > *:not(:last-child) {
  margin-right: 1rem;
}

.btn-small {
  font-size: 1.2rem;
  color: #6070ff;
  display: inline-block;
  padding: 0.4rem 1.2rem;
  background-color: #ebebff;
  cursor: pointer;
  border-radius: 1rem;
}

.card-cta {
  margin-top: 2rem;
  font-size: 1.7rem;
  color: #396df2;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 2px solid #396df2;
  display: inline-block;
  border-radius: 1rem;
  margin-bottom: 2rem;
  transition: all ease-in 0.3s;
}

.card-cta:hover {
  background-color: #6070ff;
  color: #fff;
}

.card-cta:active {
  background-color: #2230d2;
  color: #fff;
}

.section-about-me {
  background-color: #fff;
  border-top-right-radius: 7rem;
  padding-top: 11rem;
  padding-bottom: 18rem;
}

.about-me-tech {
  padding: 1rem;
  margin: 2rem 0;
}

.arrow-logo {
  width: 1.8rem;
  margin-right: 2rem;
}

.language-des {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  color: black;
  font-size: 2rem;
}

.language__details {
  display: flex;
  flex-direction: column;
}

.language__details > *:not(:last-child) {
  margin-bottom: 1.2rem;
}

.language__details-container {
  display: flex;
  align-items: center;
  color: #253858;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #f7f7f9;
  padding: 1rem;
}

.language__details-container > *:not(:last-child) {
  margin-right: 2rem;
}

.section-contuct-me {
  background-color: #6070ff;
  background-image: url(images/contuct-form-bg.svg);
  background-repeat: no-repeat;
  background-position: right;
  color: #fff;
  border-top-left-radius: 7rem;
  padding-top: 10rem;
  margin-top: -7rem;
}

.contuct-me-box {
  display: flex;
  flex-direction: column;
}

.contuct-me__heading {
  font-size: 4rem;
  margin-bottom: 1.2rem;
  text-align: center;
}

.contuct-me__paragraph {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin-bottom: 5.2rem;
  text-align: center;
}

.contuct-me__name-input,
.contuct-me__email-input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  margin-bottom: 2rem;
  border-radius: 1rem;
  font-family: inherit;
}

.contuct-me__textarea {
  display: block;
  width: 100%;
  height: 17rem;
  padding: 1rem;
  border-radius: 1rem;
  font-family: inherit;
  margin-bottom: 2.2rem;
}

.contuct-me__btn {
  border: none;
  outline: none;
  color: #6070ff;
  background-color: #fff;
  font-size: 1.8rem;
  font-family: inherit;
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: inline-block;
  margin-bottom: 4rem;
  cursor: pointer;
}

@media (min-width: 1435px) {
  body {
    scroll-behavior: smooth;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    width: 20vw;
  }

  .nav-link {
    color: #344563;
    font-family: inherit;
    font-size: 1.7rem;
    font-weight: 500;
  }

  .hamburger {
    display: none;
  }

  .section-hero {
    background-image: url(./images/desktop-images/Header-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
